@use "../../utils" as *;

/*----------------------------------------*/
/*  3.1 Header Style
/*----------------------------------------*/
header {
  padding-top: 30px;
  position: absolute;
  content: "";
  width: 100%;
  z-index: 1000;
  overflow: hidden;

  .header-top {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    padding-bottom: 25px;

    .header-social {
      ul {
        list-style: none;
        display: flex;
        gap: 30px;

        li {
          a {
            font-size: 20px;
            color: white;
          }
        }
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    .header-logo {
      a {
        h1 {
          margin-bottom: unset;
          color: white;

          @media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
            font-size: 25px;
          }
        }
      }
    }

    .mobile-menu-open-icon {
      display: none;
      color: white;

      @media (max-width: 767px) {
        display: block;
      }
    }

    .header-phone {
      display: block;
      color: white;

      @media (max-width: 767px) {
        display: none;
      }
    }

    .mobile-menu-open-icon {
      font-size: 32px;
    }
  }

  .header-nav {
    margin-top: 20px;

    ul {
      list-style: none;
      display: flex;
      gap: 50px;
      justify-content: center;

      li {
        a {
          color: white;
        }
      }

      @media (max-width: 767px) {
        gap: 30px;
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      display: block !important;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
}

/* Menu Open Overlay */
body.menu-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Behind the menu */
}
