@use "../../utils" as *;

/*----------------------------------------*/
/*  3.1 Header Style
/*----------------------------------------*/
header {
  padding-top: 30px;
  position: relative;

  .header-top {
    border-bottom: 1px solid black;
    padding-bottom: 25px;

    .header-social {
      ul {
        list-style: none;
        display: flex;
        gap: 30px;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    .header-logo {
      a {
        h1 {
          margin-bottom: unset;

          @media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
            font-size: 25px;
          }
        }
      }
    }

    .mobile-menu-open-icon {
      display: none;

      @media (max-width: 767px) {
        display: block;
      }
    }

    .header-phone {
      display: block;

      @media (max-width: 767px) {
        display: none;
      }
    }

    .mobile-menu-open-icon {
      font-size: 32px;
    }
  }

  .header-nav {
    margin-top: 20px;

    ul {
      list-style: none;
      display: flex;
      gap: 60px;
      justify-content: center;

      @media (max-width: 767px) {
        gap: 30px;
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      display: block !important;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  .mobile-menu {
    background-color: var(--tp-common-black);
    width: 60%;
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 0;
    right: -100%; /* Start hidden */
    height: 100vh;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    display: none;

    /* Tablet desktop :768px. */
    @media (min-width: 768px) and (max-width: 991px) {
      display: block;
    }

    /* small mobile :320px. */
    @media (max-width: 767px) {
      display: block;
      padding: 30px 15px;
    }

    .mobile-menu-close-icon {
      font-size: 32px;
      color: white;

      @media (max-width: 767px) {
        font-size: 22px;
      }
    }

    .header-logo {
      a {
        h1 {
          font-size: 33px;
          color: white;
          margin: 0;

          /* small mobile :320px. */
          @media (max-width: 767px) {
            font-size: 22px;
          }
        }
      }
    }

    ul.mobile-menu-nav {
      margin-top: 40px;
      list-style: none;

      display: flex;
      flex-direction: column;
      gap: 20px;

      li {
        a {
          color: white;
          font-size: 20px;
        }
      }
    }

    .mobile-menu-footer {
      .header-social {
        ul {
          list-style: none;
          display: flex;
          gap: 30px;
          margin-top: 20px;
          margin-bottom: 20px;

          li {
            a {
              color: white;
              font-size: 20px;
            }
          }
        }
      }

      .header-phone {
        a {
          color: white;
          font-size: 20px;
        }
      }
    }

    @media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      width: 90%;
      display: flex;
    }
  }
}
